<div class="sidenav">
  <a href="/konten/<%= params[:id] %>/kontoauszug">Kontoauszug drucken</a>
  <a href="/konten/<%= params[:id] %>/geld_einzahlen">Geld einzahlen</a>
  <a href="/konten/<%= params[:id] %>/geld_auszahlen">Geld auszahlen</a>
  <a href="/konten/<%= params[:id] %>/geld_ueberweisen">Geld überweisen</a>
  <a href="/konten/<%= params[:id] %>/logout">Ausloggen</a>
</div>
