<div class="sidenav">
  <a href="/konten/<%= params[:konto_nr] %>/kontoauszug">Kontoauszug drucken</a>
  <a href="/konten/<%= params[:konto_nr] %>/geld_einzahlen">Geld einzahlen</a>
  <a href="/konten/<%= params[:konto_nr] %>/geld_auszahlen">Geld auszahlen</a>
  <a href="/konten/<%= params[:konto_nr] %>/geld_ueberweisen">Geld überweisen</a>
  <a href="/konten/<%= params[:konto_nr] %>/logout">Ausloggen</a>
</div>
